<div style="height:100px ;"></div>

<div class="main_content">
    <div class="info">
        <br>
        <button   class="btn btn-primary"  (click)="openDialog()" >Yeni Inqrident </button>
        <br>
        <table class="table table-bordered">
            <thead>
              <tr>
              
                <th>Id</th>
                <th>Ad</th>
                     <th>Emeliyyatlar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let inqiridient of inqiridents">
               <td>{{inqiridient.id}}</td>
               <td>{{inqiridient.name}}</td>
                <td><button mwlConfirmationPopover placement="left" 
                [popoverTitle]="popoverTitle" 
                [popoverMessage]="popoverMessage" 
                (confirm)="deleteInqridientById(inqiridient.id)"
        
                 class="btn btn-danger btn border">Sil</button></td>
              </tr>
            </tbody>
          </table>    </div>
</div>
<div style="height: 600px;"></div>
