<div class="main_content">
    <div class="info">
        <br>
        <button mat-button class="btn bg-success text-white"  >Yeni Inqrident yaratmaq</button>
        <br>
        <table class="table table-bordered">
            <thead>
              <tr>
              
                <th>Id</th>
                <th>Ad</th>
                <th>Qiymet</th>
                <th>Miqdar</th>

              </tr>
            </thead>
            <tbody>
              <tr>
               <td></td>
               <td></td>
               <td></td>
              </tr>
            </tbody>
          </table>    </div>
</div>