  <!-- <div class="container">
<form class="form-input"  (ngSubmit)="onLogin()">
<div class="form-group">
<label for="username">Ad:</label>
<input
type="text"
class="form-control"
id="username"
name="username"
[(ngModel)]="user.username"      
/>
</div>
<div class="form-group">
<label for="password">password:</label>
<input
type="text"
class="form-control"
id="password"
name="password"
[(ngModel)]="user.password"
/>
</div>
<button type="submit" class="btn btn-primary">Yadda saxla</button>
<button   (click)="onSignUp()">Hesab Yarat</button>
</form></div>  -->


























<br><br>
<div class="wrapper">
  <div class="title">
    Giriş Qədirxum
  </div>
  <form action="#"   (ngSubmit)="onLogin()">
     <div class="field">
        <input type="text" 
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        required>
        <label>Istifadeci Adiniz</label>
     </div>
     <div class="field">
        <input type="password" 
        type="text"
       class="form-control"
       id="password"
       name="password"
      [(ngModel)]="user.password"
        required>
        <label>Sifreniz</label>
     </div>

     <div class="field">
        <input type="submit"  (click)="onSignUp()" value="Login">
     </div>
     <div class="signup-link">
        Hesabiniz Yoxdur <a href="#">Hesab Yarat</a>
     </div>
  </form>
</div>