<div style="height:100px ;"></div>

























<br><br>
<div class="wrapper">
  <div class="title">
    Giriş Qədirxum
  </div>
  <form action="#"   (ngSubmit)="onLogin()">
     <div class="field">
        <input type="text" 
        type="text"
        class="form-control"
        id="username"
        name="username"
        [(ngModel)]="user.username"
        required>
        <label>Istifadeci Adiniz</label>
     </div>
     <div class="field">
        <input type="password" 
        type="password"
       class="form-control"
       id="password"
       name="password"
      [(ngModel)]="user.password"
        required>
        <label>Sifreniz</label>
     </div>

     <div class="field">
        <input type="submit"  value="Login">
     </div>
     <div class="signup-link">
        Hesabiniz Yoxdursa    <a  (click)="onSignUp()">Hesab Yarat</a>
 
     </div>
  </form>
</div>