<div class="footer">
    <div class="footer1">
    <img src="../../assets/ajdaha_logo_gray.png" style="width: 90px; float: left;" alt="">
    <img src="../../assets/call_ajdaha.png" alt="" style="width: 90px; float: left; margin-left: 970px; ">
    </div>
    
    <div class="footer2">
         <ul>
            <li style="font-family: book;
            margin-bottom: 15px;
            line-height: 32px;
            font-size: 16px;
            color: #949ba5;
            list-style: none;
            "
            >HAQQIMIZDA</li>
            <li class="li2">Tarixçə</li>
            <li class="li2">Karyera</li>
            <li class="li2">Vakansiyalar</li>
        </ul> 
        <ul class="ul2">
            <li style="font-family: book;
            margin-bottom: 15px;
            line-height: 32px;
            font-size: 16px;
            color: #949ba5;
            list-style: none;
            "
            >ƏLAQƏ</li>
            <li class="li2">Fliallar</li>
            <li class="li2">Sual-Cavab</li>
        </ul> 
        <ul class="ul1">
            <li style="font-family: book;
            margin-bottom: 15px;
            line-height: 32px;
            font-size: 16px;
            color: #949ba5;
            list-style: none;
            "
            >MENYU</li>

            <li class="li2" *ngFor="let category of categories">{{category.category}}</li>
            
        </ul> 
        <button mat-button  style="color: red; float: left; margin-left: 490px; margin-bottom: 200px;"><mat-icon   >location_on</mat-icon><p style="float: right;">Ən yaxın filialı tap</p></button>
   
    </div>
</div>