

    <div class="main_content">
        <div class="info">
            <button mat-button class="btn btn-primary" (click)="openDialog()">Yeni Manager</button>
            <table class="table table-bordered">
                <thead>
                  <tr>
                  
                    <th>User</th>
                    <th>Sifre</th>
                    <th>Qeyd</th>
               
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users">
                   <td>{{user.username}}</td>
                   <td>{{user.password}}</td>
                   <td>{{user.note}}</td>
                  </tr>
                </tbody>
              </table>    </div>
    </div>
