<div style="width: 600px;max-height:500px;" >
    <div class="container" style="width: 80%;margin-left: 10%;"  >
        <form class="form-input"   (ngSubmit)="onSaveFood()" >
            <div class="form-group">
              <label for="name">Ad:</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                [(ngModel)]="food.name"
              />
              <span  class="error-message" *ngFor="let error of errorFood.errorName" > 
                {{error}}<br>
                    </span>
            </div>
            <br>
            <div class="form-group">
              <label for="price">Qiymet:</label>
              <input
                
                class="form-control"
                id="price"
                name="price"
                [(ngModel)]="food.price"
       
              />
              <span  class="error-message" *ngFor="let error of errorFood.errorPrice" > 
                {{error}}<br>
                    </span>
            </div>    <br>
            <div class="form-group">
              <label for="note">Qeyd:</label>
              <input
          
                class="form-control"
                id="note"
                name="note"
                [(ngModel)]="food.description"
       
              />
              <span  class="error-message" *ngFor="let error of errorFood.errorDescription" > 
                {{error}}<br>
                    </span>
            </div>
         
            <div class="form-group">
                <label for="category">Kategoriya:</label>
               <select     [(ngModel)]="food.category"
               class="form-control" id="category"
               name="category">
               <option  *ngFor="let category of categories" value="{{category.category}}" >{{category.category}}</option>
               </select>
               <span  class="error-message" *ngFor="let error of errorFood.errorCategory" > 
                {{error}}<br>
                    </span>
            </div>

            <label >Inqridientler:</label><br>
         
            <mat-form-field appearance="fill">
              <mat-label>Inqridientler</mat-label>
              <mat-select [formControl]="inqridientsForm"  multiple [(value)]="selectedInqridients">
                <mat-option *ngFor="let inqridient of inqiridents" value="{{inqridient.name}}" >{{inqridient.name}}</mat-option>
              </mat-select>
            </mat-form-field>
                
            <div class="form-group">
                <label for="miqdar">Miqdar:</label>
                <input
                  
                  class="form-control"
                  id="miqdar"
                  name="miqdar"
                  [(ngModel)]="food.miqdar"
       
         
                />
              </div> 
              <span  class="error-message" *ngFor="let error of errorFood.errorMiqdar" > 
                {{error}}<br>
                    </span>
              <br>
              <div class="form-group">
                <label for="shop-image">Sekil</label>
                <input
                type="file"
                  class="form-control"
                  id="shop-image"
                  name="shop-image"
                  (change)="onImageSelected($event)"
             
                />
              </div>
           <br>
                <button type="submit" class="btn btn-primary">Yadda saxla</button>
              </form></div> 
        
            </div>
       