<div style="" >
    <div class="info">
        <button mat-button class="btn btn-primary" (click)="openDialog()">Yeni Yemek</button>
        <table class="table table-bordered" >
            <thead>
              <tr>
              
                <th>ID</th>
                <th>Adi</th>
                <th>Qeyd</th>
                <th>Qiymet</th>
                <th>Miqdar</th>
                <th>Kateqoriya</th>
                <th>Sekil</th>
                <th>Emeliyyatlar</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let food of foods" >
                <td>{{ food.id }}</td>
                <td>{{ food.name }}</td>
                <td>{{ food.description }}</td>
                <td>{{ food.price }}</td>
                <td>{{ food.miqdar }}</td>
                <td>{{ food.category }}</td>
                <td><img [src]="imagePath+food.image " style="width: 75px;" > </td>
                <td><button mwlConfirmationPopover placement="left" 
                  [popoverTitle]="popoverTitle" 
                  [popoverMessage]="popoverMessage" 
                  (confirm)="deleteFoodById(food.id)"
          
                   class="btn btn-danger btn border">Sil</button></td>
              </tr>
            </tbody>
          </table>    </div>
</div>

