<div class="main_content">
    <div class="info">
        <button mat-button class="btn btn-primary" (click)="openDialog()">Yeni Yemek</button>
        <table class="table table-bordered">
            <thead>
              <tr>
              
                <th>ID</th>
                <th>Adi</th>
                <th>Qeyd</th>
                <th>Qiymet</th>
                <th>Miqdar</th>
                <th>Kateqoriya</th>
                <th>Sekil</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                   </tr>
            </tbody>
          </table>    </div>
</div>

