<div style="width: 600px;">
<div class="container" style="width: 80%;margin-left: 10%;">
    <form class="form-input"    (ngSubmit)="onCreateManager()">
        <div class="form-group">
          <label for="username">Ad:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
      [(ngModel)]="user.username"
          />
        </div>
        <br>
        <div class="form-group">
          <label for="password">Sifre:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="user.password"
   
          />
        </div>    <br>
        <div class="form-group">
          <label for="note">Qeyd:</label>
          <input
            type="password"
            class="form-control"
            id="note"
            name="note"
       [(ngModel)]="user.note"
          />
        </div>
     <!--    <label for="cars">Choose a car:</label>
        <select name="cars" id="cars">
          <option value="volvo">Volvo</option>
          <option value="saab">Saab</option>
          <option value="opel">Opel</option>
          <option value="audi">Audi</option>
        </select>--> 
       <br>
            <button type="submit" class="btn btn-primary">Yadda saxla</button>
          </form></div> 
    
        </div>
