
<div class="container" style="width: 400px;">
    <form class="form-input"   >
        <div class="form-group">
          <label for="username">Ad:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
      
          />
        </div>
        <div class="form-group">
          <label for="password">Sifre:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
       
          />
        </div>
        <div class="form-group">
          <label for="password">Qeyd:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
       
          />
        </div>
           
       
            <button type="submit" class="btn btn-primary">Yadda saxla</button>
          </form></div> 
    

